.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 900;
  }
  
  .header {
    display: flex;
    justify-content: center;
  }
  
  .main-title {
    color: #006098;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .upload-wrap {
    display: flex;
    justify-content: center;
  }
  
  .server-setting-wrap {
    display: flex;
    margin-left: 3px;
  }
  
  .server-setting-wrap button {
    padding: 0.5em 0.75em;
    color: #2e6da4;
    background-color: white;
    border-color: #2e6da4;
    font-size: inherit;
    cursor: pointer;
    border: 1px solid #337ab7;
    border-radius: 0.25em;
  }
  
  .filebox {
    margin-top: 7px;
    margin-left: 3px;
  }
  
  .filebox label {
    padding: 0.5em 0.75em;
    color: #999;
    font-size: inherit;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: 0.25em;
  }
  
  .filebox input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .filebox.bs3-primary label {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  .progress-wrap {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .progressText {
    margin-top: 3px;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .progressBar {
    margin-left: 25px;
    width: 100%;
    max-width: 330px;
    height: 30px;
    border-radius: 3px;
    background: linear-gradient(#6fa6d66c, #7db1df54);
  }
  
  .innerbar {
    max-width: 330px;
    height: 100%;
    text-align: right;
    height: 30px; /* same as #progressBar height if we want text middle aligned */
    width: 0%;
    border-radius: 3px;
    background: linear-gradient(#5be6ba, #5ed1ad);
  }
  
  .black-bg {
    position: fixed;
    width: 100%;
    top: 150px;
    left: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  
  .white-bg {
    width: 500px;
    height: 230px;
    background: lightgray;
    border-radius: 8px;
    padding: 20px 5px;
  
    display: flex;
    flex-direction: column;
  }
  
  .modal-wrap {
    margin: 0 20px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    line-height: 0px;
  }
  
  .modal-header > h3:last-child {
    cursor: pointer;
  }
  
  .modal-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-content span {
    margin-top: 3px;
    font-weight: bold;
  }
  
  .host-wrap,
  .port-wrap {
    display: flex;
  }
  
  .inp-ip {
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
    width: 200px;
  }
  
  .inp-port {
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
    width: 80px;
  }
  
  .modal-footer {
    margin-top: 60px;
    display: flex;
    justify-content: end;
  }
  
  .modal-footer > button {
    padding: 0.3em 0.75em;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: inherit;
    cursor: pointer;
    border: 1px solid #337ab7;
    border-radius: 0.25em;
  }